<h2>CREATE BLOG</h2>

<form  id="create-blog-form">
    <div class="mb-3">
      <label for="blogTitle" class="form-label">Blog Title</label>
      <input type="text" class="form-control" id="blogTitle">
    </div>
    <div class="mb-3">
      <label for="blogContent" class="form-label">Content</label>
      <textarea class="form-control" id="blogContent" rows="4"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary createBTN">Create Blog</button>

</form>

<script src="/js/createBlog.js"></script>

