<h2>LOGIN</h2>

 <form class="login-form">
        <section class="mb-3">
          <label for="inputUsername" class="form-label">Username</label>
          <input type="username" class="form-control" id="inputUsername">
        </section>
        <section class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </section>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Sign in</button>
          <a class="btn btn-tertiary" href="/signup">Sign Up</a>
        </div>
       
</form>

<script src="./js/login.js"></script>