<h2>SIGN UP</h2>
 <form class="signup-form">
        <section class="mb-3">
          <label for="username-signup" class="form-label">Username</label>
          <input type="username" class="form-control" id="username-signup" aria-describedby="usernameHelp">
          <div id="usernameHelp" class="form-text">Please create an username</div>

        </section>
        <section class="mb-3">
          <label for="password-signup" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-signup" aria-describedby="passwordHelp" autocomplete="off">
          <div id="passwordHelp" class="form-text">Please create an password that's no more than 8 characters.</div>
        </section>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
       
</form>

<script src="./js/signup.js"></script>