:root {
    --green: #084C61;
    --platinum: #E9E3E6;
    --cedar: #DB504A;
    --yellow: #E3B505;
    --cadet: #4F6D7A;
}

body {
    background-color: var(--platinum);
}


.bg-brand{
    background-color: var(--green);
}

/* NAV BAR */

.nav-link{
    color: var(--platinum);
}

.nav-link:hover {
    color: var(--yellow);
}

.active-brand{
    border-bottom: 3px solid var(--platinum);
    font-weight: bold;
    color: var(--platinum);
}

.navbar-toggler {
   background-color: var(--yellow);
   color: var(--yellow);
}

.logo {
    width: 7rem;
}

/* BUTTONS */

.btn {
    background-color: var(--cedar);
    color: var(--platinum);
}

.btn:hover {
    color: var(--yellow);
    background-color: var(--cadet);
}

.btn-secondary {
    background-color: var(--yellow);
    color:var(--green);
    border: 0;
}

.btn-secondary:hover {
    background-color: var(--cadet);
    color: var(--yellow);
    border: 0;
}

.btn-tertiary  {
    background-color: transparent;
    color: var(--green);
   text-decoration: underline;
}

.btn-tertiary:hover{
    background-color: transparent;
    color: var(--cedar);
}

/* CARDS */

.card-header {
    background-color: var(--green);
    color: var(--platinum);
}

.card a{
    text-decoration: underline;
    color: var(--platinum)
}

.card a:hover, .card-header:hover {
    color: var(--yellow)
}

/* INDIVIDUAl BLOG  */
.blog-title {
    text-transform: uppercase;
}

.blog-subtitle {
    font-size: 18px;
    font-weight: light;
}

/* COMMENTS SECTION */

#comment-form {
    max-height: 400px;
    max-width: 540px;
}

